.admin-group {
    .group {
        padding: 1rem;
        margin: 1rem;
        border-radius: 1rem;
        display: grid;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  
        cursor: pointer;
        display: grid;
        grid-template-columns: 20% auto auto;

        .delete {
            text-align: right;
            font-size: 2rem;
        }

        .color {
          height: 100%;
        }
  
        .title {
          font-weight: bold;
          cursor: pointer;
          text-align: left;
        }

        .description {
            text-align: left;
            cursor: pointer;
        }

        &:hover {
            background-color: rgb(195, 199, 252);
        }
      }

}