target/
.idea/
src/main/resources/frontend/*
src/main/ui/node_modules
src/main/ui/node
src/main/ui/dist

/postgres_data

/src/main/resources/backend-deps.csv
/src/main/resources/frontend-deps.csv
/.vscode/
/data/privacy.html
